# Ignore everything...
*

# Then include just this.
!arch/
!.gitignore
!README.md
!inittab
!pfa_tests/
!.config

# Specific kernel files that we changed
!mm/memory.c
!include/linux/pfa_helper.h

# The arch/.gitignore and arch/riscv/.gitignore have patterns to un-ignore the
# appropriate files.

